html,body{
    margin : 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.header{
    height: 135px;
    width: 100%;
}


.login-button{
    display: flex;
    justify-content: end;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-section img{
    cursor: pointer;
}

.menu-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list > li {
    padding: 10px;
}

.search-area{
    justify-content: center;
    position: absolute;
    right: 20px;
}

.search-area input{
    border-width: 0 0 1px;
    margin-left: 5px;
}

.search-area input:focus{
    border-width: 0 0 1px;
    outline: none;
}


.main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    height: 100%;
 }

.card{
    display: flex;
    flex: 1 1 calc(25% - 20px);
    flex-direction: column;
    width: 250px;
    height: 600px;
    margin: 10px;
}

.card img{
    width: auto;
    height: 400px;
    transition: 0.3s;
}

.card img:hover{
    transform: scale(1.1);
    cursor : pointer;
}

.card:hover #title {
    color: red;
}

.card h1{
    font-size: 10px;
}

.heartIcon{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}




.login-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.login-wrapper{
    width: 500px;
    height: 500px;
    background-color: rgba(240, 128, 128,80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22)

}

.login-wrapper span{
    font-size: 50px;
    text-align: start;
    margin-bottom: 30px;
    color: white;
}

.login-wrapper > form > input{
    height: 50px;
    width: 400px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    border: white solid 1px;
    color: lightcoral;
}

.login-wrapper input::placeholder {
    color : lightcoral;
    font-size: 20px;
}

.login-page-button{
    height: 50px;
    width: 400px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.login-wrapper > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-page-button:hover{
    background-color: white;
    color: lightcoral;
    transition: 1s;
}









.detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.detail-container img{
    height: 600px;
}



.product-detail-info{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding: 30px;
}
.product-detail-info h1{
    margin-bottom: 60px;
}
.product-detail-info h2{
    margin-bottom: 30px;
}




.size_wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.size_card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    text-align: center;
    border: white solid 1px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: lightcoral;
    color: white;
    border-radius: 10px;

}

.size_card.active{
    background-color: white;
    border: lightcoral 1px solid;
    color: lightcoral;
    border-radius: 10px;
}

.detail_button{
    display: flex;
    background-color: lightcoral;
    margin-top: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    width: 100%;
}

.detail_button:hover{
    transition: 1s;
    background-color: white;
    color: lightcoral;
    border: lightcoral 1px solid;
}




.menu-bar{
    background-color: lightcoral;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    transition: 2s;
    display: flex;
    flex-direction: column;
    transform: translateX(-275px);


}

.menu-bar svg{
    position: absolute;
    left: 280px;
    top: 2px
}

.menu-bar.menu-active{
    transform: translateX(0px);
}

.shopping-area{
    margin: 50px 25px;
    border : white solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shopping-area h1{
    font-size: 15px;
}

.shopping-area img{
    width: 100px;
}

.myPageCard{
    margin: 20px;
    background-color: white;
    display: flex;
    width: 230px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.myPageCardInfo{
    margin-left: 20px;
}